.menu-list__item {
    margin: 0 0 5px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    .item {
        word-break: break-word;
        list-style-type: none;
        input {
            background-color: #fff;
        }
    }
    &.editMode {
        .item {
            input {
                width: 90%;
            }
        }
    }
}