* {
  box-sizing: border-box;
}

body {
  background-color: #E3E3E5;
  margin-bottom: 100px;
}

.App {
  text-align: center;
}

.logo {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: -50;
  img {
    width: 300px;
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05)
  }
  to {
    transform: scaleX(1);
  }
}