.menu__list_container {
    margin-bottom: 10px;
    .items-list {
        margin: 0 0 5px 0;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 25% 25%;
        .item {
            word-break: break-word;
            list-style-type: none;
        }
    }
    &:last-child {
        border-bottom: 1px solid black;
    }
}