.menu__list_container {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.edit {
    border: 1px solid darkviolet;
}

.edit-message {
    color: darkviolet;
}

.items-list {
    margin: 0 0 5px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    .item {
        word-break: break-word;
        list-style-type: none;
        input {
            border: none;
            border-right: 1px solid black;
        }
        &:last-child > input{
            border-right: none;
        }
    }
}