.meal-item {
    &__container {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        &.editMode {
            border: none;
            overflow: hidden;
            background-image: linear-gradient(90deg, forestgreen 50%, transparent 50%), linear-gradient(90deg, forestgreen 50%, transparent 50%), linear-gradient(0, forestgreen 50%, transparent 50%), linear-gradient(0, forestgreen 50%, transparent 50%);
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
            animation: marching-ants 400ms infinite linear;
        }
        h2 {
            margin: 0;
            padding: 10px 0;
            border-bottom: 1px solid black;
        }
    }
}

.menu-list {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__header {
        display: grid;
        grid-template-columns: 50% 1fr 1fr;
        h4 {
            margin: 0;
            padding: 10px 0 10px 0;
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 5px;
        span {
            font-weight: bold;
        }
        &_result {
            display: flex;
            justify-content: space-between;
            margin: 5px 5px 0 5px;
            border-top: 1px solid black;
        }
    }
    &__edit-message {
        color: forestgreen;
        margin: 5px 0 0 0;
    }
}

//.menu__number-list.editMode {
//    border: none;
//    overflow: hidden;
//    background-image: linear-gradient(90deg, forestgreen 50%, transparent 50%), linear-gradient(90deg, forestgreen 50%, transparent 50%), linear-gradient(0, forestgreen 50%, transparent 50%), linear-gradient(0, forestgreen 50%, transparent 50%);
//    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
//    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
//    animation: marching-ants 400ms infinite linear;
//}
//
//
//input {
//    margin: 0;
//    padding: 5px;
//    max-width: 100%;
//    border: none;
//    border-bottom: 1px solid black;
//    outline: none;
//}
//
//.edit-message {
//    color: forestgreen;
//    margin: 5px 0 0 0;
//}
//
@keyframes marching-ants {
    0% {
        background-position: 0 0, 10px 100%, 0 10px, 100% 0;
    }
    100% {
        background-position: 10px 0, 0 100%, 0 0, 100% 10px;
    }
}