.menu__list_container {
    &.edit {
        .items-list {
            padding: 0 5px;
            li {
                input {
                    border: none;
                    border-right: 1px solid black;
                }
                &:last-child > input{
                    border-right: none;
                }
            }
        }
    }
}